.back-img {
    /* background-image: url("safari.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover; */
    margin:5%;
}


.search{
    margin-left: 23%;
    margin-top: 10%;
}

.quote{
    margin:10%;
    margin-top:10%;
}

.form-area{

    padding:15;
    margin-right:20;
    margin-left:20;
}

body{
    background-image: url("/static/images/safari.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    color: white;
    background-color: black;
    background-blend-mode: screen;
}



.login-form{
    /* background-color: #74b9ff; */
    margin-left: 15%;
    margin-right: 10%;
    margin-top: 10%;
}

